*, *::before, *::after { 
    box-sizing: border-box;
}

body {
    background-color: #143F6B;
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#piano {
    display: flex;
}

.key {
    width: var(--key-width);
    height: calc(var(--key-width) * 4);
}

.white {
    background-color: white;
    --key-width: 100px;
    border: 1px solid #333;
}

.white.active {
    background-color: #CCC;
}

.black {
    background-color: black;
    --key-width: 60px;
    margin-left: calc(var(--key-width) / -2);
    margin-right: calc(var(--key-width) / -2);
    z-index: 2;
}

.black.active {
    background-color: #333;
}